@media (max-width: 1600px){
    .container{
        width: 70%;

    }
}
@media (max-width: 1200px){
    .container{
        width: 90%;

    }
}
@media (max-width: 900px){
    .aodImg img{
        display: none;
        width: 100%;
        
    }
    .container{
        width: 100%;
        background: url("../images/projeto3.png");
    }
}
@media (max-width: 750px){
    .lembrar p{
        font-size: 20px;
        font-weight: 700;
    }
}
@media (max-width: 700px){
    .lembrar{
        gap: 5px;
    }
    .lembrar p{
        font-size: 20px;
        font-weight: bold;
    }
    .container{
        width: 100%;
        background: url("../images/projeto3.png");
    }
    .conect{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
       
    }
    .conect h1{
        box-sizing: 10%;
        width: 50%;
        font-weight: bold;
    }
    .aodImg img{
        display: none;
        width: 100%;
        
    }
}