@media (max-width: 1300px){
    .container{
        width: 80%;

    }
}
@media (max-width: 900px){
    .container{
        width: 100%;

    }
}
@media (max-width: 750px){
    .lembrar p{
        font-size: 14px;
        font-weight: 700;
    }
}
@media (max-width: 650px){
    .lembrar p{
        font-size: 11px;
        font-weight: 700;
    }
}
@media (max-width: 600px){
    .lembrar{
        gap: 5px;
    }
    .lembrar p{
        font-size: 14px;
        font-weight: bold;
    }
    .container{
        width: 100%;
        background: url("../images/projeto3.png");
    }
    .conect{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
       
    }
    .conect h1{
        /* background: #000000; */
        box-sizing: 10%;
        width: 32%;
        /* opacity: 80%; */
        /* box-shadow: 0px 0px 50px #000000; */
        font-weight: bold;
    }
    .aodImg img{
        display: none;
        width: 100%;
        
    }
    .container2{
        width: 100%;
        
    }
}