*{
    margin: 0;
    padding: 0;
}
body{
   height: 100vh;
   background: url("../images/projeto3.png");
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   outline: none;
   
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* width: 1096px; */
    /* min-width: 58%; */
    width: 58%;
    height: 578.55px;
    border-radius: 20px;
    border-color: #7400F4;
    border: 2px solid #7400F4;
    background: #000000;
    box-shadow: 0px 0px 50px #7400F4;
}
.aodImg img{
    width: 100%;
    height: 578.55px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.conect{
    width: 48%;
    /* width: 544px; */
    height: 578px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.entrar{
    gap: 15px;
    display: flex;
    width: 65%;
    text-align: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 10px;
}

.entrar input{
    width: 100%;
    /* width: 328px; */
    height: 68.68px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #454545;
    border: none;
    color: #FFFFFF;
    font-size: 17px;
    padding-left: 10px;
}
.entrar input:hover{
    border: 1px solid #7400F4;
    background: #000000;
    color: #FFFFFF;
}

.lembrar{
    width: 65%;
    /* background: red; */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 20px;
}
.lembrar p{
    font-size: 17px;
}
.lembrar a{
    text-decoration: none;
}

.active-button{
    width: 100%;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.active-button p{
    background: #000000;
    font-size: 20px;
    color: #7400F4;

}
.register{
    background-color: #000000;
    color: #7400F4;
    text-decoration: none;
    font-size: 20px;
}
.logar{
    width: 65%;
    /* width: 328px; */
    height: 68.68px;
    border-radius: 6px;
    background-color: #7400F4;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 22px;
    cursor: pointer;
    border: none;
    margin: 5px;
}
.logar:hover{
    background: #3700A1;
}


